.body {
  margin-top: 7rem;
  z-index: 40;
  left: 0;
  right: 0;
gap:0.5rem;
  backdrop-filter: blur(50px);
  
}

.left-section {
  margin-top: -15rem;
  margin-bottom: -9rem;
  padding: 20px;
  background:rgba(26, 25, 25, 0.1) ;
}

.middle-section {
  display: flex;
  width: 500px;
  height: 300px;
}

