/* DropdownSignUpForm.css */

.dropdown {
  border-radius: 2rem;
  position: fixed;
  top: 4rem;
  margin-left: -35rem;
  max-width: 900px;
  height: 550px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-button {
  border-radius: 10rem; 
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  max-width: 400px;
}

.sign-up-form input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.sign-up-form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.sign-up-form button:hover {
  background-color: grey;
}
