
.navbar {
  background:rgba(0, 0, 0, 0.1) ;
  padding: 0.5rem 0;
  position:fixed ;
  top: 0;
  z-index: 40;
  left: 0;
  right: 0;
  border-bottom: 0.5px solid  rgb(80, 77, 77);
  backdrop-filter: blur(50px);
  
}

.nav-content {
  max-width: 1300px;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

/* 

.navbar-items li::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, white, gray 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.3rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.4s ease;
}


.navbar-items li:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 3;
} */


.navbar-items {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  position: relative;
  cursor: pointer;

}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-icon {
  width: 5rem;
  height: 5.5rem;
}

.navbar-title {
  margin-left: -14px;
}



.navbar-items {
  cursor: pointer;
}

.navbar-items img {
  width: 20px;
  height: 20px;
}



@media (max-width: 425px) {
  .nav-logo {
    width: 10rem;
    height: auto;
  }
}

 @media (max-width: 740px) {

  .navbar-content ul {
    display: none;
  }
} 


@media (max-width:1325px) {
  .nav-wrapper {
    padding: 0.2rem;

  }
}

.my-feed::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, rgb(198, 198, 198), rgb(99, 98, 98) 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.3rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.4s ease;
}

.my-feed:hover::before {
  width: 9%;
  transform: translateX(0);
  opacity: 3;
}
.discussions:hover::before {
  width: 13%;
  transform: translateX(0);
  opacity: 3;
}

.discussions::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, rgb(198, 198, 198), rgb(99, 98, 98) 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.3rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.4s ease;
}

.more::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, rgb(198, 198, 198), rgb(99, 98, 98) 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.3rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.4s ease;
}

.more:hover::before {
  width: 8%;
  transform: translateX(0);
  opacity: 3;
}