:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  justify-content: center;
  align-content: center;
  align-items: center;
display: flex;
right: 0;
left: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: aliceblue;
  color: black;
  max-width: 1280px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  /* max-width: 1280px; */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

