.body {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin-top: 6rem;
  gap: 1px;
}


.right-side {
  height: 500px;
  width: 600px;
  background-color: #141416;
}
.left-side {
  height: 500px;
  width: 600px;
  background-color: aliceblue;
}